footer.page-footer {
    font-size: 1rem;
    margin-top:20px;
    border-radius: 15px;
    /*padding: 1rem;/*marge a l'interieur de mon conteneur*/
    padding-left:1rem;
    padding-top:0.1rem;
    padding-bottom:0.1rem;
}
